<html>

<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    Layout = "";

    <div class="form-horizontal">
        <div class="syspage_heading">
            <h2 class="text-center">Login</h2>
        </div>
        @if (ViewData["Message"] != null)
        {
            <div class="alert alert-danger">
                @ViewData["Message"]
            </div>
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Username</label>
            <div class="col-md-10">
                <input type="text" value="admin" name="username" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Password</label>
            <div class="col-md-10">
                <input type="password" value="admin" name="password" class="form-control" />
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</body>
</html>