@model IEnumerable<SYSPROInternSalaryCalculator.Models.Task>

    <div class="syspage_heading">
        <h2 class="text-center">Tasks</h2>
    </div>

<div class="text-right right">
    <span>
        <br />
        @Html.ActionLink("New Task", "Create", "Tasks", new { @class = "btn btn-primary" })


    </span>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
            </td>
        </tr>
    }

</table>
