@model IEnumerable<SYSPROInternSalaryCalculator.Models.Intern>

    <div class="syspage_heading">
        <h2 class="text-center">Interns</h2>
    </div>


<div class="text-right right">
    <span>
        <br />
        @if (ViewData["Message"] != null)
        {
            <div class="alert alert-danger">
                @ViewData["Message"]
            </div>
        }
        else
        {
            @Html.ActionLink("New Intern", "Create", "Interns", new { @class = "btn btn-primary" })
        }


    </span>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        string dob = item.DateofBirth.ToString("dd MMMM yyyy");
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dob)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.IDNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Dismiss", "Dismiss", "Interns", new { Id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
